* {
    font-family: poppins;
}

body {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

nav {
    height: 20vh;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 0 10px;
}

#webtitle {
    font-size: 32px;
    font-family: "Tiro Devanagari Hindi", serif;
    cursor: pointer;
}

.nav-btn {
    display: flex;
    gap: 20px;
}

.nav-btn a {
    text-decoration: none;
    color: black;
}

.ext a {
    text-decoration: none;
    color: black;
}

.nav-bar a:hover,
.ext a:hover {
    text-decoration: underline;
    transition: all ease-in 3s;
}

footer {
    height: 200px;
    background-color: black;
    color: white;
    margin-top: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

#contact {
    display: flex;
    gap: 30px;
    margin-left: 74vh;
}

#contact a {
    text-decoration: none;
    color: white;
}

.explore,
.support,
.social,
.contact {
    display: flex;
    flex-direction: column;
}

.hero-section {
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    transition: transform 0.3s ease;
    position: relative;
}
.product-card img {
    height: auto;
    width:  100%;
    object-fit: cover;
}

.product-details {
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    width: 300px;
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    z-index: 1;
}

.product-card:hover {
    transform: translateY(-5px);
}

.supports {
    height: 40vh;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    background-color: #58408a;
    padding-top: 4%;
    color: white;
}
.supports button {
    padding: 1% 3%;
    margin: 4%;
    border-radius: 20px;
    background-color: #a4db74;
    border-style: none;
    cursor: pointer;
}